 <div class="nested-fields">
 afj
      <%= f.label :stakeholdingpercent,"Stake Holding Percentage" %>
      <%= f.number_field :stakeholdingpercent %>
      <%= f.text_field :user_id %>
      <%= link_to_remove_association "remove ownership", f %>
</div>